.type-danhmuc .borderbot {
  color: black;
  font-size: 20px;
}
.type-danhmuc .borderbot:hover {
  text-decoration: none;
  color: #d4d4d4;
}
.type-danhmuc .hrr {
  margin-left: 1px;
  width: 15%;
}
.dm {
  color: white;
  background: green;
  margin-left: 1px;
  width: 16%;
}
