.addcart {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.navbar {
  position: relative;
  min-height: 84px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.addcart:hover {
  text-decoration: none;
  color: #d4d4d4;
  background: #1e1e1e;
  transition: 0.5s;
}
.b {
  margin-right: 5px;
  padding-right: 100px;
}
.addresss {
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 10px 135px;
}
.gh {
  color: black;
}
.content {
  background: yellowgreen;
}
.icon {
  margin-top: 30px;
}
.search {
  margin-top: 30px;
}
.home {
  padding-left: 3px;
}
.trangchu {
  background: #dd6e00;
  padding: 10px;
}
.trangchu1 {
  color: white;
  margin-left: 80px;
  font-size: 15px;
  padding-top: 12px;
}
.trangchu1:hover {
  color: #d4d4d4;
  text-decoration: none;
}
.background1:hover {
  color: #d4d4d4;
}
.btn:hover {
  color: #d4d4d4;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.btn.focus,
.btn:focus,
.btn:hover {
  color: #d4d4d4;
  text-decoration: none;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0;
  border-top: none;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 13px;
}
.modal-content {
  float: left;
  width: 75%;
  margin-left: -400px;
}
.modal-body {
  position: relative;
  padding: 15px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.btn-login {
  width: 223px;
  height: 45px;
  background: black;
  color: #fff;
}
.tab {
  overflow: hidden;
  border: 0;
}
.btn-lg {
  margin-left: 60px;
  color: white;
  background: #dd6e00;
}
